@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Cormorant+Garamond:wght@600&family=Lato:wght@100;300;400&family=Poppins:wght@100&family=Rubik:wght@400;500;700&family=Urbanist:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf7f2;
  font-family: "Poppins";
}

.main-container {
  margin: 25px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-row: 2rem;

  & .card {
    background-color: #fff;
    padding: 20px;

    & .card-body {
      margin: 15px 0;
      & .card-number {
        font-size: 1.2rem;
        height: 23px;
        width: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(210, 190, 190);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      & .card-category {
        font-size: 1rem;
        text-transform: capitalize;
      }
      & .card-name {
        font-family: "Cormorant Garamond";
        font-size: 3.2rem;
        font-weight: 600;
      }
      & .card-description {
        text-align: justify;
        font-family: "Lato";
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0rem;
      }
    }
  }
}

.mt-3 {
  margin-top: 0.5rem;
}

.card-read {
  cursor: pointer;
  text-align: right;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  position: absolute;
  height: 0.01rem;
  top: 0.8rem;
  width: 75%;
}

img {
  height: 20rem;
  width: 100%;
}

.card-order {
  cursor: pointer;
  display: flex;
  justify-content: end;

}

.border {
  border: 1px solid #aaa;
  &:hover{
    color: #39A7FF;
    background-color:#61677A;
  }
}

/* ? navbar style */

.nav-container {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & .nav-items {
    & .btn {
      font-family: "Poppins";
      font-size: 1.2rem;
      height: 3.5rem;
      width: 6.2rem;
      border-style: none;
      background-color: #fff;
      border-right: 0rem;
      text-align: center;
      padding: 0 .5rem;
      text-transform: capitalize;

      &:first-child {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      &:last-child {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      &:hover {
        border-bottom: 0.3rem solid #39A7FF;
      }
    }
  }
}
